.logo {
    /* border: 2px solid white;
    background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}



/* start portfolio */
#clients {
    padding-bottom: 80px;
}

#clients .col-md-3 {
    padding: 0px;
}

.clients-thumb,
.clients-overlay {
    max-width: 450px;
}

#clients .clients-thumb {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

#clients .clients-thumb .clients-overlay {
    background: #28a7e9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    padding: 20px 10px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#clients .clients-thumb .clients-overlay h4 {
    font-weight: bold;
    padding-bottom: 10px;
}

#clients .clients-thumb .clients-overlay .btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}

#clients .clients-thumb:hover .clients-overlay {
    cursor: pointer;
    opacity: 0.8;
}


.disabled {
    pointer-events: none;
    padding: 0px !important;
}

.overflows {
    overflow: hidden;
    padding: 0px;
    height: 240px;
    width: 50%;
    margin: 0 auto;
    /* pointer-events: none; */
}

.overflows img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* pointer-events: none; */
}

.overflows1 {
    padding: 0px;
    height: 240px;
    width: 100%;
    margin: 0 auto;
    /* pointer-events: none; */
}


.overflows1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* pointer-events: none; */
}

#service .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* pointer-events: none; */
}



a.btn.btn-default.wow.fadeInUp.animated {
    position: relative;
    top: 45px;

}



#conoce .col-md-4:hover {
	background: #505050 !important;
}

#conoce .col-md-12:hover {
	background: #505050 !important;
}

#team .col-md-4 img{
    width: 100%;
    /* border: 1px solid green */
}

#borrar *{
    padding: 0px !important;
    margin: 0px !important;
    pointer-events: none;
}
#borrar .col-4 *{
    border: 1px solid blue;
    padding: 0;
    margin: 0;
    pointer-events: none;
}


#clients .fondo{
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
    padding: 20px !important;
}


.logo:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.logo > img {
    transition: all 0.5s ease-in-out;
    overflow: auto;
    /* width: 75%; */
    max-width: 65%;
    max-height: 65%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}


@media (max-width:800px) {
    .nav__list{
        display: none;
    }

    .nav__menu{
        display: block;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }
}